body {
    margin: 0;
    padding: 0;
    background-color: #eee1ea;
    font-family: Arial, sans-serif;
}

.container {
    width: 320px;
    margin: 80px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input,
select {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="file"] {
    background-color: #fdfdfd;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    background-color: #084a3f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #c4e9d1;
}