body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3e2f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #213142;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1a1c37;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2e324c;
} 